<div class="container">
  <div class="row">
    <div class="col-md-offset-4 col-md-4" id="signupformcol">
    <h1 id="pagetitle">To Do List</h1>
    <form role="form" id="signupform">
      <div class="form-group" id="useremailcontainer">
        <h1><input type="email" class="form-control" id="newuseremail" placeholder="Enter email" name="email"></h1>
        <h4 class="errormsg" id="emailtaken" data-bv-validator="emailAddress" data-bv-for="email" data-bv-result="INVALID">This email has been taken.</h4>
      </div>
      <div class="form-group">
        <h1><input type="password" class="form-control" id="newuserpw" placeholder="Password" name="password"></h1>
      </div>
      <div class="form-group">
        <h1><input type="password" class="form-control" id="newusercfmpw" placeholder="Confirm Password" name="confirmpassword"></h1>
      </div>
      <div class="row">
       <div class="col-xs-offset-2 col-xs-8 col-md-offset-2 col-md-8"><button class="btn btn-default" id="signupbtn">Sign up</button></div>
      </div>
      <div class="row alternateform">
        <div class="col-xs-offset-2 col-xs-8 col-md-offset-2 col-md-8">
          <a id="switchtologinbtn">Have an account? Login here!</a>
        </div>
      </div>
      <div class="row alternateform">
        <div class="col-xs-offset-2 col-xs-8 col-md-offset-2 col-md-8">
          <div id="foo" class="loadinggif"></div>
        </div>
      </div>
    </form>
    </div>
  </div>
</div>